name: CI

on:
  push:
    branches: [ main ]
  pull_request:

jobs:
  build-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install
        run: |
          cd CREDENTIALS/verifier
          npm install

      - name: Test
        run: |
          cd CREDENTIALS/verifier
          npm test

      - name: Build
        run: |
          cd CREDENTIALS/verifier
          npm run build